@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
    fill: currentColor;
}


/************************** Scrollbar settings ***************************************/

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: rgb(56, 8, 56);
}

::-webkit-scrollbar-thumb {
    background: salmon;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 123, 0);
}


/******************************* Navigation ***********************************/

.navigation-wrapper {
    padding: 0px;
    overflow: hidden;
}

nav ul {
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
}

.nav-pills .pill-1 .nav-link.active {
    border-width: 2px;
    background: rgba(121, 25, 121, 0.8);
    color: white;
    box-shadow: 5px 5px 10px;
}

.nav-pills .pill-2 .nav-link.active {
    border-width: 2px;
    background: rgba(29, 116, 29, 0.8);
    color: white;
    box-shadow: 5px 5px 10px;
}

.nav-pills .pill-3 .nav-link.active {
    border-width: 2px;
    background: rgba(221, 13, 13, 0.8);
    color: white;
    box-shadow: 5px 5px 10px;
}

.nav-pills .pill-4 .nav-link.active {
    border-width: 2px;
    background: rgba(255, 123, 0.8);
    color: white;
    box-shadow: 5px 5px 10px;
}

.nav-pills .nav-item.pill-1 .nav-link:not(.active),
.nav-pills .nav-item.pill-2 .nav-link:not(.active),
.nav-pills .nav-item.pill-3 .nav-link:not(.active),
.nav-pills .nav-item.pill-4 .nav-link:not(.active) {
    color: white;
    box-shadow: 5px 5px 10px;
}

.nav-pills .pill-1 .nav-link:hover {
    background-color: rgba(206, 40, 206, 0.8);
    color: white;
}

.nav-pills .pill-2 .nav-link:hover {
    background-color: rgba(27, 161, 27, 0.8);
    color: white;
}

.nav-pills .pill-3 .nav-link:hover {
    background-color: rgba(248, 16, 16, 0.8);
    color: white;
}

.nav-pills .pill-4 .nav-link:hover {
    background-color: rgba(255, 123, 0.8);
    color: white;
}

.nav-item.pill-1,
.nav-item.pill-2,
.nav-item.pill-3,
.nav-item.pill-4 {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.bg-nav-home {
    background-color: rgb(121, 25, 121);
    color: rgb(230, 223, 223);
}

.bg-nav-resume {
    background-color: rgb(29, 116, 29);
    color: rgb(230, 223, 223);
}

.bg-nav-contact {
    background-color: rgb(221, 13, 13);
    color: white;
}

.nav-link svg {
    fill: white;
}


/******************************Carousel behaviour***********************************/

.carousel-container {
    padding: 0px;
    overflow: hidden;
    box-shadow: 10px 10px 20px;
}

.carousel-item {
    height: 100vh;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

img {
    height: 100%;
}


/********************* Changes to Carousel Caption for all 3 pages ***************/

.about {
    font-size: 2em;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px 2px 8px rgb(121, 25, 121);
}

.about-title {
    font-size: 1.2em;
    font-weight: 700;
    color: whitesmoke;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 8px rgb(121, 25, 121);
}

.resume {
    font-size: 2em;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px 2px 8px rgb(29, 116, 29);
}

.resume-title {
    font-size: 1.2em;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px 2px 8px rgb(29, 116, 29);
}

.contact {
    font-size: 2em;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px 2px 8px rgb(221, 13, 13);
}

.contact-title {
    font-size: 1.2em;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 2px 2px 8px rgb(221, 13, 13);
}


/*************************Main containers of the main section for all 3 Pages***************************/

.about-container,
.resume-container,
.contact-container {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    height: 100vh;
    overflow: auto;
}

.about-container {
    background-color: rgb(121, 25, 121);
    color: white;
}

.resume-container {
    background-color: rgb(29, 116, 29);
    color: white;
}

.contact-container {
    background-color: rgb(221, 13, 13);
    color: white;
}


/****************************** Header/Title of About ME section********************/

.name {
    text-align: center;
    animation: enter 2s linear forwards;
}

.short-desc {
    text-align: left;
    font-size: 1.3rem;
    animation: enter 3s linear forwards;
    padding-bottom: 15px;
}

hr {
    background-color: #fafafa;
    height: 2px;
}

.section-1--about,
.section-2--about,
.section-3--about {
    margin: 20px auto;
    padding-top: 30px;
}

.section-1--about {
    border: 2px solid white;
    background-color: rgba(233, 95, 226, 0.2);
    border-radius: 10px;
}

.section-1--about svg,
.section-2--about svg,
.section-3--about svg {
    animation: tilt 5s linear 2s infinite;
}

.section-title {
    padding: 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 42px;
    letter-spacing: 0.5rem;
    font-weight: bold;
    padding-top: 10px;
    color: #fafafa;
    text-shadow: rgba(37, 32, 32, 0.9);
}

.description {
    padding: 15px;
    text-align: center;
    font-style: italic;
}


/******************************Resume Education/Work Page changes*******************/

.section-column {
    display: table-cell;
    padding: 30px 15px 0px 15px;
    float: none;
}

.bg-color-work {
    padding-bottom: 30px;
}

.education-wrapper span,
.work-wrapper span,
.skills-wrapper span {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 15px;
}

.education-wrapper svg,
.education-wrapper span,
.work-wrapper svg,
.work-wrapper span,
.skills-wrapper svg,
.skills-wrapper span {
    vertical-align: middle;
    display: inline-block;
}

.education-wrapper svg,
.work-wrapper svg,
.skills-wrapper svg {
    fill: rgb(255, 123, 0);
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

.timeline-item {
    position: relative;
    color: white;
    border-left: 2px solid;
}

.skills-wrapper {
    margin-top: 10px;
    padding: 15px;
}

.skills-title {
    margin-bottom: 15px;
}

.skill p {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.circle {
    width: 130px;
    height: 130px;
    margin: 0.7em auto;
    border: 10px solid transparent;
    border-radius: 50%;
    background: linear-gradient(rgb(29, 116, 29), rgb(29, 116, 29)) padding-box, conic-gradient(rgb(255, 123, 0) var(--value), lightgrey var(--value)) border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.x-70 {
    --value: 70%;
}

.x-75 {
    --value: 75%;
}

.x-80 {
    --value: 80%;
}

.x-85 {
    --value: 85%;
}

.x-90 {
    --value: 90%;
}

.x-95 {
    --value: 95%;
}


/********************************* Contact Page Changes******************************/

.contact-content {
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    background-color: salmon;
    width: 100%;
}

.contact-item {
    padding: 25px 10px 20px 10px;
}

.contact-item.address,
.contact-item.telephone,
.contact-item.email {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 8px;
    text-align: left;
}

.contact-item svg {
    color: rgb(221, 13, 13);
}


/************************************Footer for all 3 Pages**********************************/

div.footer-home,
div.footer-resume,
div.footer-contact {
    text-align: right;
    padding-right: 0;
    width: 100%;
    height: auto;
    margin: 20px 0 0;
    box-shadow: inset 0 0 10px;
}

div.footer-contact {
    background: salmon;
    border-top: 1px solid white;
    box-shadow: 5px 5px 10px;
}

div.footer-home {
    background: rgba(233, 95, 226, 0.2);
    border-top: 1px solid white;
}

div.footer-resume {
    background: rgba(27, 161, 27, 0.2);
    border-top: 1px solid white;
}


/********************************Social Media links behaviour on Footer********************************/

.list-social {
    margin: 20px auto;
}

.list-inline-item:last-child {
    margin-right: initial;
}

.list-inline-item svg {
    fill: white;
}

.resume-social svg:hover {
    fill: rgba(255, 123, 0, 0.8);
    animation: zoom 0.3s ease-out;
}

.home-social svg:hover {
    fill: rgba(206, 40, 206, 0.8);
    animation: zoom 0.3s ease-out;
}

.contact-social svg:hover {
    fill: rgb(221, 13, 13);
    animation: zoom 0.3s ease-out;
}

#map {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}


/************************* Modal behaviour**************************/

.button-container {
    text-align: center;
}

.button-container button.btn-cta {
    border-radius: 8px;
    border-color: rgba(165, 42, 42, 0.9);
    background-color: salmon;
    color: rgb(221, 13, 13);
    height: 50px;
    font-size: 1.2rem;
    font-weight: 700;
}

button.btn-cta:hover {
    background-color: white;
    color: rgb(221, 13, 13);
    font-weight: 500;
}

.modal-footer button.btn-cta {
    border-radius: 8px;
    border-color: rgba(165, 42, 42, 0.9);
    background-color: salmon;
    color: white;
    text-align: center;
    height: 40px;
}

.btn-cta--brown {
    border-radius: 8px;
    background-color: rgb(110, 18, 18);
    color: white;
    text-align: center;
    height: 40px;
}

.btn-cta--brown:hover {
    background-color: white;
    color: rgb(110, 18, 18);
    font-weight: 500;
}

.bg-modal {
    background-color: rgb(221, 13, 13);
}

.modal-header h5 {
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2rem;
}


/***************************Keyframes - Animations**************************************/

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

@keyframes tilt {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-90deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(90deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes enter {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}


/********************** Media Queries *************************/

@media (max-width: 769px) {
    nav {
        height: auto;
        justify-content: space-around;
        position: sticky;
        top: 0;
    }
    h4 {
        text-align: center;
    }
}

@media (max-width: 579px) {
    nav {
        height: 70px;
        justify-content: space-around;
        position: sticky;
        top: 0;
    }
    h4 {
        text-align: center;
    }
}